[Unit]
Description=CouchDB
After=network-online.target

[Service]
User=couchdb
Group=couchdb
ExecStart=/opt/couchdb/bin/couchdb

[Install]
WantedBy=multi-user.target

